h1{
    padding: 20px;
    color: white;
    background-color: rgb(33, 54, 94);
}

.lyric-box {
    padding: 10px;
    background-color: rgb(215, 200, 230);
}

.lyrics {
    padding: 1px;
    font-size: 22px;
    color:rgb(0, 0, 0)
    
}